{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["airbnb-base", "plugin:node/recommended", "prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".d.ts", ".js"],
        "paths": ["src"]
      }
    }
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": ["warn", { "allow": ["info", "error"] }],
    "import/prefer-default-export": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "node/no-missing-import": "off",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars-experimental": "error",
    "no-empty-function": ["error", { "allow": ["constructors"] }],
    "class-methods-use-this": "off"
  }
}
